<!-- Main -->
<main>
    <!-- Welcome Hero -->
    <div class="container my-5">
        <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">
            <div class="col-lg-12 p-3 p-lg-5 pt-lg-3 mt-5 mb-5">
                <h1 class="display-4 fw-bold lh-1">Welcome To Examples</h1>
                <p class="lead">All of the software bellow (including this) created by using SDF. <br> Go write your
                    applications using sdf now!</p>
            </div>
        </div>
    </div>

    <!-- Examples Container -->
    <div class="container px-4 py-5">
        <h2 class="pb-2 border-bottom">Examples Created With Parts Of SDF</h2>

        <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">
            <div class="col">
                <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg">
                    <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                        <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Sdf Website</h2>
                        <ul class="d-flex list-unstyled mt-auto">
                            <li class="me-auto">
                                <img src="https://avatars.githubusercontent.com/u/75851971?v=4" alt="devsimsek"
                                     width="32" height="32"
                                     class="rounded-circle border border-white">
                            </li>
                            <li class="d-flex align-items-center ms-3 me-5">
                                <small>devsimsek</small>
                            </li>
                            <li class="d-flex align-items-center">
                                <small>Sdf v1.0 Development</small>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg">
                    <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                        <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Spm Client</h2>
                        <ul class="d-flex list-unstyled mt-auto">
                            <li class="me-auto">
                                <img src="https://avatars.githubusercontent.com/u/75851971?v=4" alt="devsimsek"
                                     width="32" height="32"
                                     class="rounded-circle border border-white">
                            </li>
                            <li class="d-flex align-items-center ms-3 me-5">
                                <small>devsimsek</small>
                            </li>
                            <li class="d-flex align-items-center">
                                <small>Sdf Networking</small>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg">
                    <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                        <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Spm Api</h2>
                        <ul class="d-flex list-unstyled mt-auto">
                            <li class="me-auto">
                                <img src="https://avatars.githubusercontent.com/u/75851971?v=4" alt="devsimsek"
                                     width="32" height="32"
                                     class="rounded-circle border border-white">
                            </li>
                            <li class="d-flex align-items-center ms-3 me-5">
                                <small>devsimsek</small>
                            </li>
                            <li class="d-flex align-items-center">
                                <small>Sdf v1.0 Development</small>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <span class="fst-italic">Want to see your example listed here? <a
                    href="https://github.com/devsimsek/sdf-go/issues/new">Click here!</a></span>
    </div>
</main>